version: "3"
volumes:
  volume-front-nuxt-dev:
  volume-front-node-modules:
  volume-api-node-modules:
  volume-db-data:
services:
  front: # Nuxt.js(フロントエンド)の設定
    build: #Docker Imageをbuildするための設定
      context: ./infra/front/ #Dockerfileの場所
    ports: # ホスト:コンテナでPortを対応付ける
      - "8001:80"
    volumes: # ホストのディレクトリ:コンテナのディレクトリで指定し同期する
      - "./front:/front"
#      - "volume-front-nuxt-dev:/front/.nuxt"
#      - "volume-front-node-modules:/front/node_modules"
    tty: true
    environment: # コンテナ内に渡される環境変数
      - HOST
      - PORT
      - TZ
      - API_URL_CLIENT
      - API_URL_SERVER

  api:
    build:
      context: ./infra/api/
    ports:
      - "8002:80"
    volumes:
      - "./api:/api"
    environment: # コンテナ内に渡される環境変数
      - HOST
      - PORT
      - TZ
      - DB_URL
      - DB_HOST
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD
  db:
    image: mariadb:10.5
    ports:
      - "3306:3306"
    volumes:
      - "./db/initdb.d:/docker-entrypoint-initdb.d"
    environment:
      - HOST
      - TZ
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD


